.card-header
  display: flex
  align-items: center
  justify-content: center  // Damit das Bild zentriert wird
  border: 1px solid #ddd
  border-radius: 8px
  padding: 10px

.card-header-image-container
  width: 100%  // Vollständig den Container ausfüllen
  padding-right: 0  // Kein Abstand mehr, weil nur das Bild im Header ist

.card-header-image
  width: 100%
  height: auto
  object-fit: cover  // Bild verzerrungsfrei anzeigen
